
*
{
  padding: 0;
  margin :0;
  box-sizing: border-box;
}


body {
    font-size: 15pt;
    width :min(100%,480px);
    margin :auto auto auto auto ;
    height :100vh;
  font-family: 'Varela Round', sans-serif;
  }

header 
{
  display: flex ;
  justify-content :space-between ;
  align-items :center ;
  padding :10px ;
  width :min(100%,480px);
  position :fixed ;
  z-index :10 ;
  top: 0;
  height :85px;
  background :#034D4D;
  color :#FFFFFF ;
}

header h5 
{
  position :absolute ;
  bottom: 0;
  left: 30%;
  word-spacing: 10px;
  color :#FFFFFF ;
}

.container 
{
  width :min(100%,480px);
  height :auto ;
  margin :50% auto 0 ;
  text-align :center ;
  padding :10px ;
}


.container button
{
  padding :10px 40px ;
  border-radius :5px ;
  outline :none ;
  font-size :1em ;
  border :1px solid #F1F1F1 ;
  font-family: 'Varela Round', sans-serif;
}

.container button.active 
{
  background : #3E2946;
  color :#FFFFFF ;
  border :1px solid #F1F1F1 ;
  transition :background .2s ease-in-out ;
}

.container button:nth-child(2).active 
{
  background : #3E2946;
  color :#FFFFFF ;
  border :1px solid #F1F1F1 ;
  transition :background .2s ease-in-out ;
}

.feedback_wrapper
{
  width :100%;
  padding :10px ;
  text-align :center ;
}

.feedback_wrapper h5 
{
  font-size :1em ;
  font-weight :500 ;
  padding :5px ;
}

.feedback_wrapper p 
{
  font-size :.8em;
  font-weight :300 ;
  padding :5px ;
}

.choose_sign 
{
  width :100%;
  display :flex;
  justify-content :center ;
  align-items :center ;
}

.choose_sign div 
{
  width :75px;
  height :75px;
  border-radius :50%;
  display :flex ;
  justify-content :center ;
  align-items :center ;
  flex-direction :column ;
  margin :10px ;
  border :1px solid grey ;
 transition : background .2s ease-in-out ;
  
}
.choose_sign  div.choosen 
{
  background : #22303C ;
  color :#FFFFFF ;
  transform :scale(1.2);
  transition : background .2s ease-in-out ;
}
.choose_sign span
{
  font-size :1em ;
}

.choose_sign div:nth-child(2) span
{
  transform :rotate(85deg);
}

.choose_sign div:nth-child(3) span
{
  transform :rotate(87deg);
}



.choose_sign p 
{
  font-size :.7em;
  padding :5px ;
  font-weight :500;
}

.currentScore
{
  width :100%;
  text-align :center ;
  display :flex ;
  justify-content :center ;
  align-items :center ;
}

.currentScore  div 
{
  margin :10px ;

}
.currentScore .player span, 
.currentScore .computer span
{
  padding :10px ;
  font-size :1.5em ;
}

.currentScore .player p, 
.currentScore .computer p
{
  padding :10px ;
}


.currentScore  .player  span.active
{
  font-size :3em;
  position :relative;
  display :block;
  animation : celebrate 1s alternate-reverse infinite;
}


@keyframes celebrate
{
  50%
  {
    transform :RotateY(180deg);
  }
  
}



.currentScore .computer span.active
{
font-size :3em ;
position :relative ;
display :block ;
animation : celebrate 1s alternate-reverse infinite ;
}

@keyframes celebrate
{
  50%
  {
    transform :RotateY(180deg);
  }
  
}

